    <!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT memo</title>

    <link rel="stylesheet" href="css/sanitize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <a href="/login" class="login">LOGIN</a>
            <h1>IT memo <span class="sab-title">~横文字苦手な人向けのメモサイト~</span></h1>
        </header>

        <div class="container-list">
            <a href="/home" class="home">ホームへ戻る</a>
            <a href="/new" class="new-memo">新しいメモを作成する</a>
        </div>

        <div class="container0">
          
            <div class="container1">

                <% memo.forEach((mem)=>{ %>
                    <a href="/index/<%= mem.id%>"><%= mem.title %></br></a>
                <% }) %>
               
            </div>

            <div class="container2">
               <p>ようこそ!!</p>
            </div>
        </div>
        <footer>
            &copy; tomo
        </footer>
    </div>
</body>

</html>
</body>
</html>