<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ノウハウノート</title>

    <link rel="stylesheet" href="/css/sanitize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jQueryUI.css" />
    <link rel="stylesheet" href="/css/menu_options.css" />
    <link rel="stylesheet" href="/css/tabscreen.css" />
    <link rel="stylesheet" href="/css/loading_screen.css" />
    <link rel="stylesheet" href="/css/background.css" />
    <link rel="stylesheet" href="/css/contextmenu.css" />
    <link rel="stylesheet" href="/css/change_color.css" />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="icon" href="/img/favicons/favicon.ico" id="favicon">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
  </head>

  <body onContextmenu="return false;">
    <div class="window">
      <div class="back">
        <section>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
          <div class="row">
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
            <div>
              <i class="fab fa-css3-alt"></i>
              <i class="fab fa-bootstrap"></i>
              <i class="fab fa-html5"></i>
              <i class="fab fa-js"></i>
              <i class="fab fa-react"></i>
              <i class="fab fa-vuejs"></i>
              <i class="fab fa-wordpress"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-node"></i>
              <i class="fab fa-php"></i>
              <i class="fab fa-java"></i>
              <i class="fab fa-swift"></i>
              <i class="fab fa-python"></i>
              <i class="fab fa-golang"></i>
              <i class="fab fa-laravel"></i>
              <i class="fab fa-aws"></i>
              <i class="fab fa-linux"></i>
              <i class="fab fa-github"></i>
              <i class="fabs fa-unity"></i>
              <i class="fab fa-docker"></i>
            </div>
          </div>
        </section>
      </div>

      <div class="container">
        <div id="reload_loader">
          <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
        </div>

        <header>
          <h1>KNOW HOW NOTE</h1>
          <h2><span id="user_name" data-hashed-id="<%= hashedId %>"></span> さん</h2>
          <div class="dropdown">
            <input id="tg" class="dropInput" type="checkbox" />
            <label for="tg" class="dropLabel">MENU</label>
            <ul class="menu animation">
              <li><a class="item" id="profile" href="#">個別設定</a></li>
              <li><a class="item" id="share-history" href="#">共有履歴</a></li>
              <li><a class="item" id="explanation" href="#">使い方</a></li>
              <li><a class="item" id="version" href="#">バージョン</a></li>
              <li><a class="item" id="inquiry" href="#">問い合わせ</a></li>
              <li><a class="item" id="logout" href="#">ログアウト</a></li>
              <li>
                <a class="item" id="all-delete" style="color: red" href="#"
                  >全削除</a
                >
              </li>
            </ul>
          </div>
        </header>

        <div class="createfolder">
          <button id="createbutton" title="新しいフォルダを作成する">
            フォルダ追加
          </button>
          <button id="createfilebutton" title="新しいノートを作成する">
            ノート追加
          </button>
        </div>

        <div class="treecontrol">
          <a
            id="closed-button"
            title="ツリー全体を折りたたむ"
            href="#"
            class="toggle collapsable"
            >閉</a
          >
          <a
            id="expandable-button"
            title="ツリー全体を展開"
            href="#"
            class="toggle expandable"
            >開</a
          >
          <!-- <a title="Toggle the tree below" href="#" class="hide1">開/閉</a> -->
        </div>

        <div class="pass">
          <p id="notepass"></p>
        </div>

        <div class="container0">
          <div class="container1" id="right">
            <input id="nouhau" type="radio" name="tab_item" checked />
            <label class="tab_item" for="nouhau">マイノウハウ</label>
            <input id="share" type="radio" name="tab_item" />
            <label class="tab_item" id="share-tab" for="share"
              >シェアノウハウ</label
            >

            <div class="tab_content" id="nouhau_content">
              <div id="list_loader">
                <div class="spinner">
                  <div class="cube3"></div>
                  <div class="cube4"></div>
                </div>
              </div>

              <div class="tab_content_description">
                <div id="TreeView_Area">
                  <ul id="0" class="filetree"></ul>
                </div>
              </div>
            </div>

            <div class="tab_content" id="share_content">
              <div class="tab_content_description">
                <div>
                  <ul id="sharelist" class="sharetree"></ul>
                </div>
              </div>
            </div>
          </div>

          <div>
            <ul id="contextmenu">
              <li id="delete">削除</li>
              <li id="name">名前の変更</li>
              <li id="color">  
                <a href="">色付</a> 
                <ul>
                  <li>
                    <div>
                        <ul id="contextmenu6">
                          <li id="pink_n">ピンク</li>
                          <li id="red_n">赤</li>
                          <li id="orange_n">橙</li>
                          <li id="yellow_n">黄色</li>
                          <li id="yellow-green_n">黄緑</li>
                          <li id="green_n">緑</li>
                          <li id="sky-blue_n">水色</li>
                          <li id="blue_n">青</li>
                          <li id="purple_n">紫</li>
                          <li id="brown_n">茶色</li>
                          <li id="gray_n">灰色</li>
                          <li id="black_n">黒</li>
                          <li id="white_n">白</li>
                        </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- <li id="notedetails">
                <a href="">詳細</a>
                <ul>
                  <li>
                    <div>
                      <p>作成日時：<span></span></p>
                      <p>更新日時：<span></span></p>
                      <p>共有されたノウハウのみ表示されます</p>
                      <p>共有者：<span></span></p>
                      <p>メッセージ：<span ></span></p>
                    </div>
                  </li>
                </ul>
              </li> -->
            </ul>
          </div>

          <div>
            <ul id="contextmenu2">
              <li id="newfolder">フォルダを作成</li>
              <li id="newfile">メモを作成</li>
            </ul>
          </div>

          <div>
            <ul id="contextmenu3">
              <li id="folderName">名前の変更</li>
              <li id="folderDelete">削除</li>
              <li id="createNote">ノートの作成</li>
              <li id="createfolder">フォルダの作成</li>
            </ul>
          </div>

          <div class="share-contextmenu">
            <ul id="contextmenu4">
              <li id="MyNoteAdd">マイノートへ追加</li>
              <li id="sharedetails">
                <a href="">詳細</a>
                <ul>
                  <li>
                    <div>
                      <p>共有者：<span id="share-user-contenxtmenu"></span></p>
                      <p>メッセージ：<span id ="share-message"></p>
                      <p>共有日時：<span id = "share-time"></span></p>
                      <button id ="Add-from-Details" >マイノートへ追加</button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div>
            <ul id="contextmenu5">
              <li id="pink">ピンク</li>
              <li id="red">赤</li>
              <li id="orange">橙</li>
              <li id="yellow">黄色</li>
              <li id="yellow-green">黄緑</li>
              <li id="green">緑</li>
              <li id="sky-blue">水色</li>
              <li id="blue">青</li>
              <li id="purple">紫</li>
              <li id="brown">茶色</li>
              <li id="gray">灰色</li>
              <li id="black">黒</li>
              <li id="white">白</li>
            </ul>
          </div>

          <div class="container2">
            <div class="tab-wrap" id="tab">
              <div id="tab_loader">
                <div class="spinner">
                  <div class="cube5"></div>
                  <div class="cube6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="popup-overlay_profile" style="display: none">
          <div class="popup-window_profile">
            <div class="popup-header_profile">
              <h2>個別設定</h2>
              <div class="popup-close_profile">
                <a id="pop-delete_profile" href="">×</a>
              </div>
            </div>
            <div class="popup-body_profile">
              <p>ユーザー名：<span id="myName"></span></p>
              <p>メールアドレス：<span id="mail"></span></p>
              <p>登録日：<span id="RegistrationDate"></span></p>

              <div class="checkbox-share-container">
                共有機能：
                <label>
                  <input type="checkbox" name="checkboxshare" class="checkbox-share" id="onCheckbox">
                  <span class="checkmark-share "></span>
                ON
                </label>
              </div>
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" name="checkboxshare" class="checkbox-share" id="offCheckbox">
                  <span class="checkmark-share"></span>
                OFF
                </label>
              </div>
              
              <p>共有パスワード設定：<input type="text" placeholder="設定しない場合は空欄にしてください" size='32' style="margin:5px" id="share-pass-input"><button id ='share-pass-butotn'>適用</button></p>
              
              <div class="checkbox-container">
                背景色：
                <label>
                  <input type="checkbox" name="checkbox" class="checkbox-color" id="checkbox-color-red">
                  <span class="checkmark red_b"></span>
                赤
                </label>
              </div>
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" name="checkbox" class="checkbox-color" id="checkbox-color-blue">
                  <span class="checkmark blue_b"></span>
                青
                </label>
              </div>
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" name="checkbox" class="checkbox-color" id="checkbox-color-yellow">
                  <span class="checkmark yellow_b"></span>
                黄
                </label>
              </div>
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" name="checkbox" class="checkbox-color" id="checkbox-color-green">
                  <span class="checkmark green_b"></span>
                緑
                </label>
              </div>
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" name="checkbox" class="checkbox-color" id="checkbox-color-purple">
                  <span class="checkmark purple_b"></span>
                紫
                </label>
              </div>
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" name="checkbox" class="checkbox-color" id="checkbox-color-orange">
                  <span class="checkmark orange_b"></span>
                橙
                </label>
              </div>
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" name="checkbox" class="checkbox-color" id="checkbox-color-gray">
                  <span class="checkmark gray_b"></span>
                灰色
                </label>
              </div>
              <div class="account-delete"><span><a href="">アカウントを削除する</a></span></div>
            </div>
          </div>
        </div>

        <div id="popup-overlay_share-history" style="display: none">
          <div class="popup-window_share-history">
            <div class="popup-header_share-history">
              <h2>共有履歴</h2>
              <div class="popup-close_share-history">
                <a id="pop-delete_share-history" href="">×</a>
              </div>
            </div>
            <div class="popup-body_share-history" id="share-history-list"></div>
          </div>
        </div>

        <div id="popup-overlay_explanation" style="display: none">
          <div class="popup-window_explanation">
            <div class="popup-header_explanation">
              <h2>使い方</h2>
              <div class="popup-close_explanation">
                <a id="pop-delete_explanation" href="">×</a>
              </div>
            </div>
            <div class="popup-body_explanation">
              <p>〜調整中〜</p>
            </div>
          </div>
        </div>

        <div id="popup-overlay_inquiry" style="display: none">
          <div class="popup-window_inquiry">
            <div class="popup-header_inquiry">
              <h2>問い合わせフォーム</h2>
              <div class="popup-close_inquiry">
                <a id="pop-delete_inquiry" href="">×</a>
              </div>
            </div>
            <div class="popup-body_inquiry">
              <select name=”item” id="itemSelect">
                <option value=”1”>不具合・改善点等</option>
                <option value=”2”>技術的なお問わせ</option>
                <option value=”3”>その他お問合せ</option>
              </select>
              <textarea id="inquiry-content"></textarea>
              <button id ="inquiry-button">送信</button>
            </div>
          </div>
        </div>

        <div id="popup-overlay_version" style="display: none">
          <div class="popup-window_version">
            <div class="popup-header_version">
              <h2>バージョン情報</h2>
              <div class="popup-close_version">
                <a id="pop-delete_version" href="">×</a>
              </div>
            </div>
            <div class="popup-body_version">
              <p>バージョン:1.0 (更新日時 6/1 00:00)</p>
            </div>
          </div>
        </div>

        <div id="popup-overlay_logout" style="display: none">
          <div class="popup-window_logout">
            <div class="popup-header_logout">
              <h2>ログアウト</h2>
              <div class="popup-close_logout">
                <a id="pop-delete_logout" href="">×</a>
              </div>
            </div>
            <div class="popup-body_logout">
              <p>ログアウトしますか？<br />※編集中のノウハウは保存されません</p>
              <button id="yes-button-logout">はい</button>
              <button id="no-button-logout">いいえ</button>
            </div>
          </div>
        </div>

        <div id="popup-overlay_delete" style="display: none">
          <div class="popup-window_delete">
            <div class="popup-header_delete">
              <h2>全削除</h2>
              <div class="popup-close_delete">
                <a id="pop-delete_delete" href="">×</a>
              </div>
            </div>
            <div class="popup-body_delete">
              <p>ノートやフォルダが全て削除されますが本当に削除しますか？</p>
              <button id="yes-button-delete">はい</button>
              <button id="no-button-delete">いいえ</button>
            </div>
          </div>
        </div>

        <div id="popup-overlay_share" style="display: none">
          <div class="popup-window_share">
            <div class="popup-header_share">
              <h2>共有</h2>
              <div class="popup-close_share">
                <a id="pop-delete_share" href="">×</a>
              </div>
            </div>
            <div class="popup-body_share">
              <div class="share-row">
               <p>共有するユーザー名を入力してください</p>
               <button id="share-user-button">共有履歴</button>
              </div>
              <p class="sab-share-p">※「,」区切りで複数名指定できます</p>
              <input type="text" class="share-input" maxlength="1000" />
              <p>メッセージ：</p>
              <textarea class="share-message" maxlength="500"></textarea>
              <button id="share-send">送信</button>
            </div>
          </div>
        </div>

        <div id="popup-overlay_share-user" style="display: none">
          <div class="popup-window_share-user" id="draggable-popup">
            <div class="popup-header_share-user">
              <h2>共有履歴ユーザー 一覧</h2>
              <div class="popup-close_share-user">
                <a id="pop-delete_share-user" href="">×</a>
              </div>
            </div>
            <div class="popup-body_share-user">
              <div id="share-user-div"></div>
              <button id="share-user-add-button">追加</button>
              <button id="share-user-clear-button">全てのチェックを外す</button>
            </div>
          </div>
        </div>

        <div id="popup-overlay_share_ans" style="display: none">
          <div class="popup-window_share_ans">
            <div class="popup-header_share_ans">
              <h2>共有</h2>
            </div>
            <div class="popup-body_share_ans">
              <p>共有しました</p>
            </div>
          </div>
        </div>

        <div id="popup-overlay_share_no" style="display: none">
          <div class="popup-window_share_no">
            <div class="popup-header_share_no">
              <h2>共有</h2>
              <div class="popup-close_share_no">
                <a id="pop-delete_share_no" href="">×</a>
              </div>
            </div>
            <div class="popup-body_share_no">
              <p id="nothingUser">ユーザーが見つかりません</p>
            </div>
          </div>
        </div>

        <div id="popup-overlay_inquiry_result" style="display: none">
          <div class="popup-window_inquiry_result">
            <div class="popup-header_inquiry_result">
              <h2>問い合わせ</h2>
            </div>
            <div class="popup-body_inquiry_result">
              <p>送信しました</p>
            </div>
          </div>
        </div>

        <footer>&copy; tomo</footer>
      </div>
    </div>

    <script type="text/javascript" src="/js/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jQuery/jquery-sortable.js"></script>
    <script type="text/javascript" src="/js/jQuery/jquery.treeview.js"></script>
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/contextmenu/contextmenu.js"></script>
    <script type="module" src="/js/menu.js"></script>
  </body>
</html>
