<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KnowHowNote</title>
    <link rel="stylesheet" href="/css/sanitize.css" />
    <link rel="stylesheet" href="/css/top(min-width).css" />
    <link rel="stylesheet" href="/css/top(max-width).css" />
    <link rel="stylesheet" href="/css/login.css" />

    <link rel="icon" href="/img/favicons/favicon.ico" id="favicon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicons/apple-touch-icon-180x180.png"
    />
  </head>
  <body>
    <div class="cssbk">
      <label>
        <input type="checkbox" checked />
        <span style="z-index: 100">
          <div class="front_cover">
            <div class="spine"></div>
            <div class="line line1">マイノート</div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div class="line line4"></div>
            <div class="line line5"></div>
            <div class="line line6"></div>
            <div class="line line7"></div>
            <div class="line line8"></div>
            <p>KnowHowNote</p>
          </div>
        </span>
        <span class="dummy note">
          <div class="content">
            <h1>KnowHowNoteとは・・・</h1>
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <span style="z-index: 98" class="note">
          <div class="content">
            <h1 class="login">　　　　ログインはこちらから →</h1>
          </div>
        </span>
        <!------------------- 「ログインする」ページ --------------------->
        <span class="dummy note">
          <div class="content">
            <h1>ログインする</h1>

            <div class="control">
              <label for="username"
                >メールアドレス　<span class="required">必須</span></label
              >
              <input
                class="logininput email"
                id="email"
                type="email"
                name="email"
                placeholder="メールアドレス"
                value=""
              />
            </div>

            <div class="control">
              <label for="password"
                >パスワード　<span class="required">必須</span></label
              >
              <input
                class="logininput password"
                id="password"
                type="password"
                name="password"
                placeholder="パスワード"
                value=""
              />
            </div>

            <div class="form-check checkbox">
              <input
                class="logininput form-check-input"
                type="checkbox"
                name="q"
                id="q1"
                value="login-save"
              />
              <label for="q1" class="form-check-label"
                >ログイン状態を保持する</label
              >
            </div>

            <div class="control">
              <button type="submit" id="loginbtn">ログインする</button>
            </div>

            <div class="passforgetdiv">
              <a href=" " class="pass-forget">パスワードをお忘れの方</a>
            </div>
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <!------------------- 「新規登録する」ページ --------------------->
        <span style="z-index: 97" class="note">
          <div class="content">
            <h1 style="color: red">📕 未登録の方はこちらから！📕</h1>
            <h1>新規登録する</h1>

            <div class="control">
              <label for="username"
                >ユーザー名<span class="required">必須</span></label
              >
              <input
                class="logininput username"
                id="username"
                type="text"
                name="username"
                placeholder="ユーザー名"
                value=""
              />
            </div>

            <div class="control">
              <label for="username"
                >メールアドレス　<span class="required">必須</span></label
              >
              <input
                class="logininput email_auth"
                id="email_auth"
                type="email"
                name="email"
                placeholder="メールアドレス"
                value=""
              />
            </div>

            <div class="control">
              <label for="password"
                >パスワード　<span class="required">必須</span></label
              >
              <input
                class="logininput password_auth"
                id="password_auth"
                type="password"
                name="password"
                placeholder="パスワード"
                value=""
              />
            </div>
            <div class="control">
              <label for="password"
                >確認用パスワード<span class="required">必須</span></label
              >
              <input
                class="logininput confirmedPassword"
                id="confirmedPassword"
                type="password"
                name="confirmedPassword"
                placeholder="確認用パスワード"
                value=""
              />
            </div>

            <div class="control">
              <button type="submit" id="registerbtn">新規登録</button>
            </div>
          </div>
        </span>
        <span class="dummy back">
          <div class="back_cover">
            <div class="spine_back"></div>
            <div class="line line9"></div>
            <div class="line line10"></div>
            <div class="image"></div>
          </div>
        </span>
      </label>
    </div>

    <script type="text/javascript" src="/js/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
  </body>
</html>
