<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KnowHowNote</title>
    <link rel="stylesheet" href="/css/sanitize.css" />
    <link rel="stylesheet" href="/css/top(min-width).css" />
    <link rel="stylesheet" href="/css/top(max-width).css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/button_design.css" />
    <link rel="stylesheet" href="/css/popup_screen.css" />

    <link rel="icon" href="/img/favicons/favicon.ico" id="favicon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicons/apple-touch-icon-180x180.png"
    />
  </head>
  <body>
    <div class="cssbk">
      <label>
        <input type="checkbox" checked />
        <span style="z-index: 100">
          <div class="front_cover">
            <div class="spine"></div>
            <div class="line line1">マイノウハウ</div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div class="line line4"></div>
            <div class="line line5"></div>
            <div class="line line6"></div>
            <div class="line line7"></div>
            <div class="line line8"></div>
            <p>KnowHowNote</p>
          </div>
        </span>
        <span class="dummy note">
          <div class="content">
            <h1>KnowHowNoteとは・・・</h1>
            <p class="top-introduction">
              業務で得たノウハウや自宅学習での学びを一括管理し、フレンドに共有することのできるWebサービスです。<br />
              ノウハウの管理場所がわからなくなったり、「ノウハウを簡単に共有したい!」といったお悩みにお応えするための直感的に蓄積・管理・共有できるツールです。
            </p>
          
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <span style="z-index: 99" class="note">
          <div class="content">
              <button type="submit" id="gestloginbtn">ゲストログイン</button>
            <h2>
              ログイン/新規登録はこちらから →
              <button id="login-move-button">クリック!!</button>
            </h2>
          </div>
        </span>
        <span class="dummy note">
          <div class="content">
            <h1 class="explanation-1">
              使い方その１<br />~ノウハウを作成してみよう~
            </h1>
           <video
              controls
              width="390"
              height="335"
               style="z-index: auto;" 
            >
              <source src="../img/video/nouhau_create.mp4" type="video/mp4" />
              <source src="../img/video/nouhau_create.mp4" type="video/webm" />
              Your browser does not support the video tag.
            </video>
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <span style="z-index: 98" class="note">
          <div class="content">
            <h1 class="explanation-1">
              使い方その１の説明を記載
            </h1>
          </div>
        </span>
        <span class="dummy note">
          <div class="content">
            <h1 class="explanation-2">
              使いかたその２<br />~フレンドを追加してみよう~
            </h1>
            <video
              controls
              width="390"
              height="335"
              style="backface-visibility: hidden"
             >
              <source src="../img/video/friend_create.mp4" type="video/mp4" />
              <source src="../img/video/friend_create.mp4" type="video/webm" />
              Your browser does not support the video tag.
            </video>
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <span style="z-index: 97" class="note">
          <div class="content">
            <h1 class="explanation-1">
              使い方その２の説明を記載
            </h1>
          </div>
        </span>
         <span class="dummy note">
          <div class="content">
            <h1 class="explanation-2">
              使いかたその３<br />~ノウハウを共有してみよう~
            </h1>
            
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <span style="z-index: 96" class="note">
          <div class="content">
            <h1 class="explanation-1">
              使い方その3の説明を記載
            </h1>
          </div>
        </span>
        <!------------------- 「ログインする」ページ --------------------->
        <span class="dummy note">
          <div class="content">
            <h1>ログインする</h1>

            <div class="control">
              <label for="username"
                >ユーザー名<span class="required">必須</span></label
              >
              <input
                class="logininput username"
                id="username_login"
                type="text"
                name="username"
                placeholder="ユーザー名"
                value=""
              />
            </div>

            <div class="control">
              <label for="password"
                >パスワード　<span class="required">必須</span></label
              >
              <input
                class="logininput password"
                id="password"
                type="password"
                name="password"
                placeholder="パスワード"
                value=""
              />
            </div>

            <p class="login-error-message">
              ユーザー名またはパスワードが間違っています
            </p>

            <div class="form-check checkbox">
              <input
                class="logininput form-check-input"
                type="checkbox"
                name="q"
                id="q1"
                value="login-save"
              />
              <label for="q1" class="form-check-label"
                >ログイン状態を保持する</label
              >
            </div>

            <div class="control">
              <button type="submit" id="loginbtn">ログイン</button>
            </div>

            <div class="passforgetdiv">
              <a href=" " id="pass-forget">パスワードをお忘れの方</a>
            </div>
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <!------------------- 「新規登録する」ページ --------------------->
        <span style="z-index: 95" class="note">
          <div class="content">
            <h1 style="color: red">📕 未登録の方はこちらから！📕</h1>
            <h1>新規登録する</h1>

            <div class="control">
              <label for="username"
                >ユーザー名<span class="required">必須</span></label
              >
              <input
                class="authinput username"
                id="username"
                type="text"
                name="username"
                placeholder="ユーザー名"
                value=""
              />
            </div>

            <div class="control">
              <label for="password"
                >パスワード　<span class="required">必須</span></label
              >
              <input
                class="authinput password_auth"
                id="password_auth"
                type="password"
                name="password"
                placeholder="(8文字以上英数字)"
                value=""
              />
            </div>
            <div class="control">
              <label for="password"
                >確認用パスワード<span class="required">必須</span></label
              >
              <input
                class="authinput confirmedPassword"
                id="confirmedPassword"
                type="password"
                name="confirmedPassword"
                placeholder="確認用パスワード"
                value=""
              />
            </div>

            <div class="control">
              <label for="password"
                >メールアドレス<span class="arbitrary">任意</span></label
              >
              <input
                class="authinput authEmail"
                id="authEmail"
                type="email"
                name="email"
                placeholder="メールアドレス"
                value=""
              />
            </div>

            <p class="auth-error-message">そのユーザー名は登録できません</p>

            <div class="control">
              <button type="submit" id="registerbtn">新規登録</button>
            </div>
          </div>
        </span>
        <span class="dummy back">
          <div class="back_cover">
            <div class="spine_back"></div>
            <div class="line line9"></div>
            <div class="line line10"></div>
            <div class="image"></div>
          </div>
        </span>
      </label>
    </div>

    <div id="popup-overlay_pass-forget" style="display: none">
      <div class="popup-window_pass-forget">
        <div class="popup-header_pass-forget">
          <h2>パスワード変更</h2>
          <div class="popup-close_pass-forget">
            <a id="pop-delete_pass-forget" href="">×</a>
          </div>
        </div>
        <div class="popup-body_pass-forget">
          <p>
            ユーザー名と登録済メールアドレスをお送りいただければ、アカウントのパスワードを変更できます。
          </p>
          <div class="control-pop">
            <label for="username-pop"
              >ユーザー名<span class="required">必須</span></label
            ><br />
            <input
              class="pass-change-input username-pop"
              id="username-pop"
              type="text"
              name="username-pop"
              placeholder="ユーザー名"
              value=""
            />
          </div>
          <div class="control-pop">
            <label for="email"
              >メールアドレス（個人設定で登録済のもの）<span class="required"
                >必須</span
              ></label
            ><br />
            <input
              class="pass-change-input email"
              id="email"
              type="email"
              name="email"
              placeholder="メールアドレス"
              value=""
            />
          </div>
          <div class="control-pop">
            <button type="submit" id="pass-change">パスワードを変更する</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('popup') %>

    <script type="text/javascript" src="/js/jQuery/jquery.min.js"></script>
    <script type="module" src="/js/toppage/login.js"></script>
    <script type="module" src="/js/toppage/register.js"></script>
    <script type="module" src="/js/toppage/gestlogin.js"></script>
  </body>
</html>
