<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KnowHowNote</title>
    <link rel="stylesheet" href="/css/sanitize.css" />
    <link rel="stylesheet" href="/css/top.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="cssbk">
      <label>
        <input type="checkbox" checked />
        <span style="z-index: 100"> 表紙 </span>
        <span class="dummy note">
          <div class="content">使い方の説明</div>
        </span>
      </label>

      <label>
        <input type="checkbox" checked />
        <span style="z-index: 99" class="note">
          <div class="content">使い方の説明</div>
        </span>
        <span class="dummy note">
          <div class="content">
            <h1>←使い方はこちらから</h1>
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <span style="z-index: 98" class="note">
          <div class="content">
            <h1 class="login">　　　　ログインはこちらから →</h1>
          </div>
        </span>
        <!------------------- 「ログインする」ページ --------------------->
        <span class="dummy note">
          <div class="content">
            <h1>ログインする</h1>

            <div class="control">
              <label for="username"
                >メールアドレス　<span class="required">必須</span></label
              >
              <input
                class="logininput email"
                id="email"
                type="email"
                name="emial"
                placeholder="メールアドレス"
                value=""
              />
            </div>

            <div class="control">
              <label for="password"
                >パスワード　<span class="required">必須</span></label
              >
              <input
                class="logininput password"
                id="password"
                type="password"
                name="password"
                placeholder="パスワード"
                value=""
              />
            </div>

            <div class="form-check checkbox">
              <input
                class="logininput form-check-input"
                type="checkbox"
                name="q"
                id="q1"
                value="login-save"
              />
              <label for="q1" class="form-check-label"
                >ログイン状態を保持する</label
              >
            </div>

            <div class="control">
              <button type="submit" id="loginbtn">ログインする</button>
            </div>

            <div class="passforgetdiv">
              <a href=" " class="pass-forget">パスワードをお忘れの方</a>
            </div>
          </div>
        </span>
      </label>

      <label>
        <input type="checkbox" />
        <!------------------- 「新規登録する」ページ --------------------->
        <span style="z-index: 97" class="note">
          <div class="content">
            <h1>新規登録する</h1>

            <div class="control">
              <label for="username"
                >ユーザー名<span class="required">必須</span></label
              >
              <input
                class="logininput username"
                id="username"
                type="text"
                name="username"
                placeholder="ユーザー名"
                value=""
              />
            </div>

            <div class="control">
              <label for="username"
                >メールアドレス　<span class="required">必須</span></label
              >
              <input
                class="logininput email_auth"
                id="email_auth"
                type="email"
                name="emial"
                placeholder="メールアドレス"
                value=""
              />
            </div>

            <div class="control">
              <label for="password"
                >パスワード　<span class="required">必須</span></label
              >
              <input
                class="logininput password_auth"
                id="password_auth"
                type="password"
                name="password"
                placeholder="パスワード"
                value=""
              />
            </div>
            <div class="control">
              <label for="password"
                >確認用パスワード<span class="required">必須</span></label
              >
              <input
                class="logininput confirmedPassword"
                id="confirmedPassword"
                type="password"
                name="confirmedPassword"
                placeholder="確認用パスワード"
                value=""
              />
            </div>

            <div class="control">
              <button type="submit" id="registerbtn">新規登録</button>
            </div>
          </div>
        </span>
        <span class="dummy"> 裏表紙 </span>
      </label>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
  </body>
</html>
