<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KnowHowNote</title>
    <link rel="stylesheet" href="/css/sanitize.css" />
    <link rel="stylesheet" href="/css/top.css" />
  </head>
  <body>
    <!-- <a href="/login" class="login">ログイン</a> -->
    <div class="cssbk">
      <label>
        <input type="checkbox" />
        <span style="z-index: 99">表紙(タイトル書く)</span>
        <span class="dummy">使い方</span>
      </label>
      <label>
        <input type="checkbox" />
        <span style="z-index: 98">
          <a href="/login" class="login">ログイン</a>
        </span>
        <span class="dummy">裏表紙</span>
      </label>
    </div>
  </body>
</html>
