.back {
  max-height: 1200px;
}

section {
  min-height: 100vh;
  width: 100%;
  background-color: aliceblue;
  overflow: hidden;
  user-select: none; /*カーソルでドラッグアンドドロップが出来なくなる*/
}

section .row {
  display: flex; /*改行をなくして横並びに*/
  white-space: nowrap; /*折り返しなし*/
  font-size: 64px;
  padding: 10px 0;
  transform: rotate(-30deg); /*画像を傾け*/
  /*傾けた際に上側が若干あくため、埋めている*/
  position: relative;
  top: -50%;
  left: -40%; /* 左に移動してスペースを埋める */
}

i {
  color: rgb(255, 255, 255);
  transition: 1s;
}
/*ホバーした時の処理*/
i:hover {
  color: rgb(162, 241, 241);
  text-shadow: 0 0 120px rgb(162, 241, 241); /*ぼかし120px*/
  transition: 0s;
}

/*アニメーション、、、処理が重くなる原因かも*/
section .row div {
  animation: animate 60s linear infinite;
}

@keyframes animate {
  /* 60sかけて0~100へ移っている */
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.fade-out-font {
  margin-right: 30px;
  padding: 0;
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
  color: red;
}
