#yes-button-logout,
#no-button-logout,
#yes-button-delete,
#share-pass-butotn,
#no-button-delete,
#share-pass-butotn,
#inquiry-button,
#share-user-button,
#share-user-add-button,
#share-user-clear-button,
#Add-from-Details,
#friend-list-add-button,
#friend-list-group-add-button,
#friend-search-button,
.friend-change-name,
.friend-delete,
.group-delete,
#friend-delete-q-button,
#friend-delete-q-cancel,
.friend-change-name-button,
#group-add-button,
.group-name-change-button,
#group-list-decision-button,
#share-group-add-button,
#share-group-clear-button,
#yes-button-group-list-delete,
#no-button-group-list-delete,
#yes-button-share-delete,
#no-button-share-delete,
#yes-button-nouhau-delete,
#no-button-nouhau-delete,
#yes-button-folder-delete,
#no-button-folder-delete,
#yes-button-keep-cancel,
#no-button-keep-cancel {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* #inquiry-button {
  position: absolute;
  bottom: 0;
  right: 0;
} */

/*小さめのボタン*/
#yes-button-logout,
#no-button-logout,
#yes-button-delete,
#no-button-delete,
#share-pass-butotn,
#share-user-button,
#share-user-add-button,
#share-user-clear-button,
#friend-list-add-button,
#friend-list-group-add-button,
#friend-search-button,
#friend-delete-q-button,
#friend-delete-q-cancel,
#group-add-button,
#share-group-add-button,
#share-group-clear-button,
#yes-button-group-list-delete,
#no-button-group-list-delete,
#yes-button-share-delete,
#no-button-share-delete,
#yes-button-nouhau-delete,
#no-button-nouhau-delete,
#yes-button-folder-delete,
#no-button-folder-delete,
#yes-button-keep-cancel,
#no-button-keep-cancel {
  padding: 7px 14px;
  font-size: 12px;
}

.group-name-change-button {
  padding: 5px 10px;
  font-size: 9px;
}

.friend-change-name,
.friend-delete,
.friend-change-name-button {
  padding: 6px 12px;
  font-size: 10px;
}

.friend-delete,
.group-delete {
  background-color: #f5f5f5;
  color: black;
  font-size: larger;
  font-weight: bold;
}

.group-delete {
  padding: 4px 8px;
  font-size: 16px;
}

.friend-delete:hover,
.group-delete:hover {
  color: red;
}

.group-name-div {
  display: flex;
  align-items: center; /* 要素を垂直方向に中央揃え */
}

/*「いいえ」を赤色に配色*/
#no-button-logout,
#no-button-delete,
#share-user-clear-button,
#friend-delete-q-cancel,
#no-button-group-list-delete,
#no-button-share-delete,
#no-button-nouhau-delete,
#no-button-folder-delete,
#no-button-keep-cancel {
  background-color: red;
}

/*「はい」「いいえ」の一定間隔をあける*/
.logout-button-wrapper,
.delete-button-wrapper,
.group-list-delete-button-wrapper,
.friend-delete-button-wrapper,
.share-delete-button-wrapper,
.nouhau-delete-button-wrapper,
.folder-delete-button-wrapper,
.keep-cancel-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.logout-button-wrapper button,
.delete-button-wrapper button,
.group-list-delete-button-wrapper button,
.friend-delete-button-wrapper button,
.share-delete-button-wrapper button,
.nouhau-delete-button-wrapper button,
.folder-delete-button-wrapper button,
.keep-cancel-button-wrapper button {
  flex: 0 0 120px; /* ボタンの幅を調整する値（例: 120px） */
  margin: 0 5px;
}

.group-list-check-button-div {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

#inquiry-button {
  vertical-align: bottom; /* 追加 */
}

.keepbtn,
.cancelbtn,
.editbtn,
.sharebtn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.editbtn {
  background-color: #007bff;
}
.sharebtn {
  background-color: #fdff85;
  color: black;
}
.keepbtn {
  background-color: #71f26c;
}
.cancelbtn {
  background-color: #f48269;
}
.title-btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.popup-body_share button {
  margin-right: 10px;
}

#share-send {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  vertical-align: bottom;
}

.edit-save-button {
  text-align: center;
}

.share-row button {
  margin-left: 50px;
}
