#share-pass-butotn,
#share-pass-butotn,
#inquiry-button,
#share-send,
#share-user-button,
#share-user-add-button,
#share-user-clear-button,
#Add-from-Details,
#friend-list-add-button,
#friend-list-group-add-button,
#friend-search-button,
.friend-change-name,
.friend-delete,
.group-delete,
.friend-change-name-button,
#group-add-button,
.group-name-change-button,
#group-list-decision-button,
#share-group-add-button,
#share-group-clear-button,
.keepbtn,
.cancelbtn,
.editbtn,
.sharebtn,
#closed-button,
#expandable-button,
#createbutton,
#createfilebutton,
#change-email-button,
#update-authenticationID-button,
#change-email-button-decision,
#yes-button-answer-pop,
#no-button-answer-pop,
#yes-button-explanation-pop,
#change-password-button,
#change-password-button-decision,
#change-password-button-cancel {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 0 #004de6;
}

#share-pass-butotn:active,
#share-pass-butotn:active,
#inquiry-button:active,
#share-send:active,
#share-user-button:active,
#share-user-add-button:active,
#share-user-clear-button:active,
#Add-from-Details:active,
#friend-list-add-button:active,
#friend-list-group-add-button:active,
#friend-search-button:active,
.friend-change-name:active,
.friend-delete:active,
.group-delete:active,
.friend-change-name-button:active,
#group-add-button:active,
.group-name-change-button:active,
#group-list-decision-button:active,
#share-group-add-button:active,
#share-group-clear-button:active,
.keepbtn:active,
.cancelbtn:active,
.editbtn:active,
.sharebtn:active,
#closed-button:active,
#expandable-button:active,
#createbutton:active,
#createfilebutton:active,
#change-email-button:active,
#update-authenticationID-button:active,
#change-email-button-decision:active,
#yes-button-answer-pop:active,
#no-button-answer-pop:active,
#yes-button-explanation-pop:active,
#change-password-button:active,
#change-password-button-decision:active,
#change-password-button-cancel:active {
  box-shadow: none;
  transform: translateY(5px);
}

/*小さめのボタン*/
#share-pass-butotn,
#share-user-button,
#share-user-add-button,
#share-user-clear-button,
#friend-list-add-button,
#friend-list-group-add-button,
#friend-search-button,
#group-add-button,
#share-group-add-button,
#share-group-clear-button,
#closed-button,
#expandable-button,
#createbutton,
#createfilebutton,
#change-email-button,
#update-authenticationID-button,
#change-email-button-decision,
#yes-button-answer-pop,
#no-button-answer-pop,
#yes-button-explanation-pop,
#change-password-button,
#change-password-button-decision,
#change-password-button-cancel {
  padding: 7px 14px;
  font-size: 12px;
}

.keepbtn,
.cancelbtn,
.editbtn,
.sharebtn {
  margin: 10px;
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
}

.sharebtn,
#createbutton {
  background-color: #fdff85;
  color: black;
  box-shadow: 0 5px 0 #ffd700;
}

.keepbtn,
#expandable-button {
  background-color: #71f26c;
  box-shadow: 0 5px 0 #32cd32;
}

#share-send {
  padding: 8px 16px;
  font-size: 14px;
  vertical-align: bottom;
}

#createfilebutton {
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0 5px 0 #dcdcdc;
}

.group-name-change-button {
  padding: 5px 10px;
  font-size: 9px;
}

.friend-change-name,
.friend-delete,
.friend-change-name-button {
  padding: 6px 12px;
  font-size: 10px;
}

.group-delete {
  padding: 4px 8px;
  font-size: 16px;
}

.friend-delete,
.group-delete {
  background-color: #f5f5f5;
  color: black;
  font-size: larger;
  font-weight: bold;
  box-shadow: none;
}

.friend-delete:hover,
.group-delete:hover {
  color: red;
}

.group-name-div {
  display: flex;
  align-items: center; /* 要素を垂直方向に中央揃え */
}

/*「いいえ」を赤色に配色*/
#share-user-clear-button,
.cancelbtn,
#closed-button,
#no-button-answer-pop,
#change-password-button-cancel {
  background-color: #e32b2b;
  box-shadow: 0 5px 0 #840505;
}

/*「はい」「いいえ」の一定間隔をあける*/
.answer-pop-button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%; /* ボタンを親要素の幅いっぱいに広げる */
  display: flex;
  justify-content: center; /* ボタンを中央に配置 */
  padding: 10px; /* 必要に応じて余白を調整 */
  box-sizing: border-box; /* paddingが要素のサイズに含まれるようにする */
}

.change-password-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.answer-pop-button-wrapper button,
.change-password-button-wrapper button {
  /* flex: 0 0 120px;
  margin: 0 5px; */
  flex: 0 0 auto;
  margin: 10px 25px; /* ボタン間の余白を調整 */
}

.group-list-check-button-div {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

#inquiry-button {
  vertical-align: bottom;
}

.title-btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.popup-body_share button {
  margin-right: 10px;
}

.edit-save-button {
  text-align: center;
}

.share-row button {
  margin-left: 50px;
}

.createfolder,
.treecontrol {
  display: inline-block;
}

#change-email-button {
  float: right;
}

/*********************************共有ノウハウリストの更新ボタン************************************/
.share-update-button-container {
  display: flex;
  justify-content: flex-end; /* ボタンを右端に配置 */
  margin-right: 10px;
}

#share-list-update-button {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  border: none;
}

#share-list-update-button img {
  width: 20px;
  height: 20px;
}

.rotate {
  animation: rotateAnimation 3s linear infinite; /* アニメーションの設定 */
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* 初期の回転角度 */
  }
  100% {
    transform: rotate(1800deg); /* 5回転分の角度 */
  }
}
/*********************************************************************************************/
