/*　青　*/
.backgroundColor-blue {
  background-color: aliceblue;
}
.headerColor-blue {
  background-color: rgb(162, 241, 241);
}
.section-blue {
  background-color: aliceblue;
}
.dropLabel-blue {
  background-color: rgb(0, 183, 255);
  color: white;
}
.dropLabel-blue:hover,
.dropInput-blue:checked + label {
  background: rgb(127, 255, 255);
  color: white;
}
@media screen and (max-width: 1000px) {
  .dropInput-blue:checked + label {
    background: rgb(127, 255, 255);
    color: white;
  }
}

.i-blue:hover {
  color: rgb(0, 255, 255);
  text-shadow: 0 0 120px rgb(0, 255, 255); /*ぼかし120px*/
  transition: 0s;
}
.tab-wrap-blue {
  background-color: aliceblue;
}
.cube1-blue,
.cube2-blue,
.cube3-blue,
.cube4-blue,
.cube5-blue,
.cube6-blue {
  background-color: rgb(162, 241, 241);
}

/*　赤　*/
.backgroundColor-red {
  background-color: rgb(255, 240, 240);
}
.headerColor-red {
  background-color: rgb(255, 147, 147);
}
.section-red {
  background-color: rgb(255, 240, 240);
}
.dropLabel-red {
  background-color: rgb(255, 0, 0);
  color: white;
}
.dropLabel-red:hover,
.dropInput-red:checked + label {
  background: #ff7c7c;
  color: white;
}

.i-red:hover {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 120px rgb(255, 0, 0); /*ぼかし120px*/
  transition: 0s;
}
.tab-wrap-red {
  background-color: rgb(255, 240, 240);
}
.cube1-red,
.cube2-red,
.cube3-red,
.cube4-red,
.cube5-red,
.cube6-red {
  background-color: rgb(255, 147, 147);
}

/*　黄　*/
.backgroundColor-yellow {
  background-color: rgb(255, 254, 240);
}
.headerColor-yellow {
  background-color: rgb(255, 242, 166);
}
.section-yellow {
  background-color: rgb(255, 254, 240);
}
.dropLabel-yellow {
  background-color: rgb(255, 247, 0);
  color: black;
}
.dropLabel-yellow:hover,
.dropInput-yellow:checked + label {
  background: #fffb84;
  color: black;
}

.i-yellow:hover {
  color: rgb(255, 225, 1);
  text-shadow: 0 0 120px rgb(255, 225, 1); /*ぼかし120px*/
  transition: 0s;
}
.tab-wrap-yellow {
  background-color: rgb(255, 254, 240);
}
.cube1-yellow,
.cube2-yellow,
.cube3-yellow,
.cube4-yellow,
.cube5-yellow,
.cube6-yellow {
  background-color: rgb(255, 247, 0);
}

/*　緑　*/
.backgroundColor-green {
  background-color: rgb(242, 255, 241);
}
.headerColor-green {
  background-color: rgb(172, 255, 154);
}
.section-green {
  background-color: rgb(242, 255, 241);
}
.dropLabel-green {
  background-color: rgb(0, 255, 4);
  color: white;
}
.dropLabel-green:hover,
.dropInput-green:checked + label {
  background: rgb(125, 255, 127);
  color: white;
}

.i-green:hover {
  color: rgb(0, 255, 30);
  text-shadow: 0 0 120px rgb(0, 255, 30); /*ぼかし120px*/
  transition: 0s;
}
.tab-wrap-green {
  background-color: rgb(242, 255, 241);
}
.cube1-green,
.cube2-green,
.cube3-green,
.cube4-green,
.cube5-green,
.cube6-green {
  background-color: rgb(172, 255, 154);
}

/*　紫　*/
.backgroundColor-purple {
  background-color: rgb(250, 239, 255);
}
.headerColor-purple {
  background-color: rgb(235, 175, 255);
}
.section-purple {
  background-color: rgb(250, 239, 255);
}
.dropLabel-purple {
  background-color: rgb(208, 0, 255);
  color: white;
}
.dropLabel-purple:hover,
.dropInput-purple:checked + label {
  background: rgb(228, 121, 255);
  color: white;
}

.i-purple:hover {
  color: rgb(230, 0, 255);
  text-shadow: 0 0 120px rgb(230, 0, 255); /*ぼかし120px*/
  transition: 0s;
}
.tab-wrap-purple {
  background-color: rgb(250, 239, 255);
}
.cube1-purple,
.cube2-purple,
.cube3-purple,
.cube4-purple,
.cube5-purple,
.cube6-purple {
  background-color: rgb(235, 175, 255);
}

/*　橙　*/
.backgroundColor-orange {
  background-color: rgb(255, 247, 240);
}
.headerColor-orange {
  background-color: rgb(255, 215, 175);
}
.section-orange {
  background-color: rgb(255, 247, 240);
}
.dropLabel-orange {
  background-color: rgb(255, 115, 0);
  color: white;
}
.dropLabel-orange:hover,
.dropInput-orange:checked + label {
  background: rgb(255, 186, 121);
  color: white;
}

.i-orange:hover {
  color: rgb(255, 123, 0);
  text-shadow: 0 0 120px rgb(255, 123, 0); /*ぼかし120px*/
  transition: 0s;
}
.tab-wrap-orange {
  background-color: rgb(255, 247, 240);
}
.cube1-orange,
.cube2-orange,
.cube3-orange,
.cube4-orange,
.cube5-orange,
.cube6-orange {
  background-color: rgb(255, 215, 175);
}

/*　灰色　*/
.backgroundColor-gray {
  background-color: rgb(236, 236, 236);
}
.headerColor-gray {
  background-color: rgb(188, 188, 188);
}
.section-gray {
  background-color: rgb(236, 236, 236);
}
.dropLabel-gray {
  background-color: rgb(95, 95, 95);
  color: white;
}
.dropLabel-gray:hover,
.dropInput-gray:checked + label {
  background: rgb(145, 145, 145);
  color: white;
}

.i-gray:hover {
  color: rgb(72, 72, 72);
  text-shadow: 0 0 120px rgb(72, 72, 72); /*ぼかし120px*/
  transition: 0s;
}
.tab-wrap-gray {
  background-color: rgb(236, 236, 236);
}
.cube1-gray,
.cube2-gray,
.cube3-gray,
.cube4-gray,
.cube5-gray,
.cube6-gray {
  background-color: rgb(188, 188, 188);
}
