/*　青　*/
.backgroundColor-blue {
  background-color: aliceblue;
}
.headerColor-blue {
  background-color: rgb(162, 241, 241);
}
.section-blue {
  background-color: aliceblue;
}
.dropLabel-blue {
  background-color: rgb(0, 255, 255);
}
.dropLabel-blue:hover,
.dropInput-blue:checked + label {
  background: rgb(127, 255, 255);
}
.i-blue:hover {
  color: rgb(162, 241, 241);
  text-shadow: 0 0 120px rgb(162, 241, 241); /*ぼかし120px*/
}
.tab-wrap-blue {
  background-color: aliceblue;
}

/*　赤　*/
.backgroundColor-red {
  background-color: rgb(255, 231, 231);
}
.headerColor-red {
  background-color: rgb(255, 147, 147);
}
.section-red {
  background-color: rgb(255, 231, 231);
}
.dropLabel-red {
  background-color: rgb(255, 0, 0);
}
.dropLabel-red:hover,
.dropInput-red:checked + label {
  background: #ff7c7c;
}
.i-red:hover {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 120px rgb(255, 0, 0); /*ぼかし120px*/
}
.tab-wrap-red {
  background-color: rgb(255, 231, 231);
}

/*　黄　*/
.backgroundColor-yellow {
  background-color: rgb(255, 254, 231);
}
.headerColor-yellow {
  background-color: rgb(255, 242, 166);
}
.section-yellow {
  background-color: rgb(255, 254, 231);
}
.dropLabel-yellow {
  background-color: rgb(255, 247, 0);
}
.dropLabel-yellow:hover,
.dropInput-yellow:checked + label {
  background: #fffb84;
}
.i-yellow:hover {
  color: rgb(255, 225, 1);
  text-shadow: 0 0 120px rgb(255, 225, 1); /*ぼかし120px*/
}
.tab-wrap-yellow {
  background-color: rgb(255, 254, 231);
}
