/*　青　*/
.backgroundColor-blue {
  background-color: aliceblue;
}
.headerColor-blue {
  background-color: rgb(162, 241, 241);
}
.section-blue {
  background-color: aliceblue;
}
.dropLabel-blue {
  background-color: rgb(110, 166, 255);
}
.dropLabel-blue:hover {
  background: #b4dbff;
}
/*　赤　*/
.backgroundColor-red {
  background-color: rgb(255, 231, 231);
}
.headerColor-red {
  background-color: rgb(255, 147, 147);
}
.section-red {
  background-color: rgb(255, 231, 231);
}
.dropLabel-red {
  background-color: rgb(255, 92, 92);
}
.dropLabel-red:hover {
  background: #ff7c7c;
}
/*　黄　*/
.backgroundColor-yellow {
  background-color: rgb(255, 254, 231);
}
.headerColor-yellow {
  background-color: rgb(255, 242, 166);
}
.section-yellow {
  background-color: rgb(255, 254, 231);
}
.dropLabel-yellow {
  background-color: rgb(255, 250, 109);
}
.dropLabel-yellow:hover {
  background: #fffc9e;
}
