@font-face {
  font-family: 'PTSerifCaption';
  src: url('../fonts/PT_Serif_Caption/PTSerifCaption-Regular.ttf')
    format('truetype');
}

.dummy {
  backface-visibility: hidden;
}

.top-title img{
 width: 45px;
 height: 45px;
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

label > input[type="checkbox"] {
  display: none;
}

.front_cover p {
  font-size: 50px;
  font-family: 'PTSerifCaption', 'Open Sans', sans-serif;
}

.content input,
.popup-body_pass-forget input {
  display: initial;
}

.note {
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
}

.content {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    /* 点線1の色 */
      linear-gradient(180deg, rgb(30, 194, 219) 1px, transparent 0.8px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */ 100% 2.5em; /* 点線2のサイズ */
  line-height: 2.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.logininput,
.authinput,
.pass-change-input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em; /*文字が１.２倍の大きさ*/
  width: 50%;
  padding: 8px;
}

.pass-change-input {
  width: 70%;
}

.required,
.arbitrary {
  color: #f33;
  font-size: 0.9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
}

.arbitrary {
  color: #1e90ff;
  background-color: #afeeee;
}

.control,
.control-pop {
  margin-bottom: 1em;
}

.form-check {
  display: flex; /* フレックスコンテナにする */
  align-items: center; /* 垂直方向に中央揃えにする */
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-check-input {
  margin-right: auto;
  width: 20%;
  padding: 30px;
}
.form-check-label {
  width: 80%;
}

#pass-forget {
  padding: 0;
}
.passforgetdiv {
  margin-top: 40px;
}

.new-account {
  margin-bottom: 50px;
}

.email,
.username {
  margin-top: 25px;
}
.password,
.email_auth,
.confirmedPassword,
.authEmail {
  margin-top: 20px;
}
.password_auth {
  margin-top: 23px;
}

.login-error-message,
.auth-error-message {
  display: none;
  color: red;
}

.control-pop {
  text-align: center;
}
.control-pop label {
  text-align: left;
}

.top-introduction {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 5px;
}
.speech-bubble {
  font-weight: bold;
}
.gestuser-explain {
  color: red;
}
.top-title {
  font-size: 24px;
}

.explain-title {
  margin: 46px 30px 30px 30px;
}

.gestlogin-p {
  margin-top: 32px;
  margin-bottom: 0px;
}

.next-page-arrow {
  margin-top: 0px;
  text-align: right;
}

/*********** ボタン ***********/

#pass-change,
#loginbtn,
#registerbtn,
#gestloginbtn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 0 #042d81;
}

#loginbtn,
#registerbtn,
#gestloginbtn {
  padding: 1em 7em;
  margin-top: 10px;
}

#registerbtn {
  background-color: #e32b2b;
  box-shadow: 0 5px 0 #840505;
}

#gestloginbtn {
  background-color: #57db22;
  box-shadow: 0 5px 0 #147d04;
}

#loginbtn:active,
#registerbtn:active,
#pass-change:active,
#gestloginbtn:active {
  box-shadow: none;
  transform: translateY(5px);
}

.new-account button {
  width: 30%;
  background-color: #f37819;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  float: right;
}

/***********************************/
/****** パスワード変更ポップアップ ******/
/***********************************/
#popup-overlay_pass-forget {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
  font-family: initial; /*フォントをデフォルトへ*/
}

.popup-window_pass-forget {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  z-index: 500;
}

.popup-header_pass-forget {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せに変更 */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

.popup-header_pass-forget h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}

#pop-delete_pass-forget {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

#pop-delete_pass-forget:hover {
  color: red;
}

.popup-body_pass-forget {
  position: relative;
  height: 350px;
  padding: 0 10px;
}
.popup-body_pass-forget label {
  font-size: 14px; /* 任意のフォントサイズに調整 */
}
