.dropdown {
  display: inline-block;
  margin: 3px;
  position: relative;
}

#tg {
  display: none;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: visibility 0s, opacity 0.3s; /* トランジションの遅延を削除 */
  z-index: 1; /* リストを最前面に持ってくる */
  border: 1px solid black;
}

.dropInput:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; /* 遅延を削除 */
}

.dropLabel,
.item {
  padding: 1em 1.5em;
  width: 150px;
  display: block;
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  color: #333;
  text-decoration: none;
}
.item {
  padding: 0;
}

.item:hover {
  background-color: #c0c0c0;
  color: #fff;
}

.dropLabel:hover,
.dropInput:checked + label {
  background: #0cfa7b;
  color: rgb(117, 117, 117);
}

.animation {
  transition: all 0.3s;
}

/*********************MENUポップアップ*******************/
/* ポップアップが開いた時のオーバレイ */
#popup-overlay_profile,
#popup-overlay_share-history,
#popup-overlay_explanation,
#popup-overlay_inquiry,
#popup-overlay_version,
#popup-overlay_logout,
#popup-overlay_delete,
#popup-overlay_share-user,
#popup-overlay_inquiry,
#popup-overlay_inquiry_result {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ポップアップ */
.popup-window_profile,
.popup-window_share-history,
.popup-window_explanation,
.popup-window_inquiry,
.popup-window_version,
.popup-window_logout,
.popup-window_delete,
.popup-window_share-user,
.popup-window_inquiry_result {
  width: 500px;
  height: 300px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 10000;
  overflow: hidden;
  z-index: 300;
}

.popup-window_version,
.popup-window_delete {
  height: 150px;
}

.popup-window_inquiry_result {
  height: 180px;
  width: 300px;
}
.popup-window_logout {
  height: 180px;
  width: 330px;
}

.popup-window_share-user {
  height: 400px;
  width: 300px;
}

/* ポップアップのヘッダー */
.popup-header_profile,
.popup-header_share-history,
.popup-header_explanation,
.popup-header_inquiry,
.popup-header_version,
.popup-header_logout,
.popup-header_delete,
.popup-header_share-user,
.popup-header_inquiry_result {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せに変更 */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

/* ポップアップの見出し */
.popup-header_profile h2,
.popup-header_share-history h2,
.popup-header_explanation h2,
.popup-header_inquiry h2,
.popup-header_version h2,
.popup-header_logout h2,
.popup-header_delete h2,
.popup-header_share-user h2,
.popup-header_inquiry_result h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}

.popup-body_inquiry textarea {
  text-align: left;
  width: 380px;
  height: 200px;
}

/* ポップアップの内容 */
.popup-body_profile,
.popup-body_share-history,
.popup-body_explanation,
.popup-body_inquiry,
.popup-body_version,
.popup-body_logout,
.popup-body_delete,
.popup-body_share-user,
.popup-body_inquiry_result {
  position: relative;
  height: 240px;
  padding: 0 10px;
  overflow-y: scroll;
}

.popup-body_inquiry select {
  margin: 5px;
}

.popup-body_share-history p {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.popup-body_inquiry_result p {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.no-share-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-body_profile p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.popup-body_version p {
  text-align: center;
}

.account-delete {
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

#yes-button-logout,
#no-button-logout,
#yes-button-delete,
#share-pass-butotn,
#no-button-delete,
#share-pass-butotn,
.popup-body_inquiry button,
#share-user-button,
#share-user-add-button,
#share-user-clear-button,
#Add-from-Details {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.popup-body_inquiry button {
  position: absolute;
  bottom: 0;
  right: 0;
}

#yes-button-logout,
#no-button-logout,
#yes-button-delete,
#no-button-delete,
#share-pass-butotn,
#share-user-button,
#share-user-add-button,
#share-user-clear-button {
  padding: 7px 14px;
  font-size: 12px;
}

#no-button-logout,
#no-button-delete,
#share-user-clear-button {
  background-color: red;
}

.popup-body_profile a {
  color: red;
}

.checkbox-container,
.checkbox-share-container {
  display: inline-block;
  margin-right: 7px;
}

.checkmark,
.checkmark-share {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
}

input[class^='checkbox-share'],
input[class^='checkbox-color'] {
  display: none;
}

input[type='checkbox']:checked + .checkmark-share {
  background-color: #007bff;
  border-color: #007bff;
}

input[type='checkbox']:checked + .blue_b {
  background-color: #007bff;
  border-color: #007bff;
}
input[type='checkbox']:checked + .red_b {
  background-color: #ff0000;
  border-color: #ff0000;
}
input[type='checkbox']:checked + .yellow_b {
  background-color: #eeff00;
  border-color: #eeff00;
}
input[type='checkbox']:checked + .green_b {
  background-color: #44ff00;
  border-color: #44ff00;
}
input[type='checkbox']:checked + .purple_b {
  background-color: #9d00ff;
  border-color: #9d00ff;
}
input[type='checkbox']:checked + .orange_b {
  background-color: #ff8000;
  border-color: #ff8000;
}
input[type='checkbox']:checked + .gray_b {
  background-color: #838383;
  border-color: #838383;
}

.share-container {
  display: flex;
  align-items: center;
}

.share-checkbox {
  display: none;
}

.share-label {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.share-label:before {
  content: '';
  display: none;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px;
}

.share-checkbox:checked + .share-label:before {
  display: block;
}

.share-text {
  font-weight: bold;
}

.popup-body_share-history {
  width: 100%;
  overflow-x: auto;
}
.share-table-header {
  background-color: #e5e5e5;
}
.popup-body_share-history table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
.popup-body_share-history th,
.popup-body_share-history td {
  padding: 8px;
  border: 1px solid black;
}
