.dropdown {
  display: inline-block;
  margin: 3px;
  position: relative;
}

#tg {
  display: none;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: visibility 0s, opacity 0.3s; /* トランジションの遅延を削除 */
  z-index: 1; /* リストを最前面に持ってくる */
  border: 1px solid black;
}

.dropInput:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; /* 遅延を削除 */
}

.dropLabel,
.item {
  padding: 1em 1.5em;
  width: 150px;
  display: block;
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  color: #333;
  text-decoration: none;
}
.dropLabel {
  border-radius: 5px;
}
.item {
  padding: 0;
  z-index: 80;
}

.item:hover {
  background-color: #c0c0c0;
  color: #fff;
}

.dropLabel:hover,
.dropInput:checked + label {
  background: #0cfa7b;
  color: rgb(117, 117, 117);
}

.animation {
  transition: all 0.3s;
}

.friend-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#friend-list-div {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.friend-Box {
  background-color: #f5f5f5;
}

.popup-body_friend-add p {
  font-size: 14px;
  margin: 5px;
}

.popup-body_friend-add input {
  margin-top: 10px;
  width: 300px;
}

.friend-name {
  font-size: 20px;
  margin: 8px 4px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 125px;
}

.friend-name-input,
.friend-change-name-button {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.input-wrapper {
  display: flex;
  align-items: center;
}
.friend-name-input {
  font-size: 20px;
  margin: 8px 4px;
  width: 125px;
}

.friend-login {
  font-size: 11px;
  margin: 9px 0;
}
.group-name-p {
  font-size: 12px;
  margin: 9px 5px 9px 0;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-body_inquiry select {
  margin: 5px;
}

.popup-body_share-history p {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.no-share-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-name-position,
.authentication-ID-position,
#email-container,
#password-container,
.registration-date,
.checkbox-share-position {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3px;
  margin-bottom: 3px;
  position: relative;
}

.popup-body_About-Website p {
  text-align: center;
}

.account-delete {
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

.friend-change-name {
  margin-left: 5px;
}

.popup-body_profile a {
  color: red;
}

.checkbox-container,
.checkbox-share-container {
  display: inline-block;
  margin-right: 7px;
}

.checkmark,
.checkmark-share {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
}

input[class^='checkbox-share'],
input[class^='checkbox-color'] {
  display: none;
}

input[type='checkbox']:checked + .checkmark-share {
  background-color: #007bff;
  border-color: #007bff;
}

input[type='checkbox']:checked + .blue_b {
  background-color: #007bff;
  border-color: #007bff;
}
input[type='checkbox']:checked + .red_b,
input[type='checkbox']:checked + .red_s {
  background-color: #ff0000;
  border-color: #ff0000;
}
input[type='checkbox']:checked + .yellow_b {
  background-color: #eeff00;
  border-color: #eeff00;
}
input[type='checkbox']:checked + .green_b {
  background-color: #44ff00;
  border-color: #44ff00;
}
input[type='checkbox']:checked + .purple_b {
  background-color: #9d00ff;
  border-color: #9d00ff;
}
input[type='checkbox']:checked + .orange_b {
  background-color: #ff8000;
  border-color: #ff8000;
}
input[type='checkbox']:checked + .gray_b {
  background-color: #838383;
  border-color: #838383;
}

.share-container {
  display: flex;
  align-items: center;
}

.share-checkbox {
  display: none;
}

.share-label {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.share-label:before {
  content: '';
  display: none;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  margin: 4px;
}

.share-checkbox:checked + .share-label:before {
  display: block;
}

.share-text {
  font-weight: bold;
}

.share-table-header {
  background-color: #e5e5e5;
}
.popup-body_share-history table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
.popup-body_share-history th,
.popup-body_share-history td {
  padding: 8px;
  border: 1px solid black;
}

.gray-line {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gray-line-fat-1 {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}
.gray-line-fat-2 {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

#idInput {
  font-size: 20px;
  margin: 5px auto;
}

.friend-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-list-display {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.column {
  width: calc(33.33% - 10px);
  margin: 5px;
  box-sizing: border-box;
  display: flex;
}

.column-inner {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 28px);
}

#all-group-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.group-list-check-div {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.real-name-p,
.friend-delete-p-real-user {
  margin: 0;
  color: silver;
}

.popup-body_inquiry textarea {
  text-align: left;
  width: 380px;
  height: 200px;
  vertical-align: bottom;
}

.popup-window_delete-pop {
  text-align: center; /* pタグを中央に配置するためのスタイル */
}

#share-history-h1 {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  color: red;
  text-align: center;
}

.friend-list-none-message,
.group-member-none {
  grid-column: span 3; /* 3列を横一列に広げて中央に配置 */
  text-align: center;
  color: red;
}

#group-add-list-massage {
  text-align: center;
  color: red;
}

.group-list-none-belong,
.friend-list-none-register {
  grid-column: span 2; /* 2列を横一列に広げて中央に配置 */
  text-align: center;
  color: red;
}

.password-inputs,
.email-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.password-inputs label,
.email-inputs label {
  margin-right: 10px;
  background-color: #f5f5f5;
  width: 190px;
  text-align: center;
}
.password-inputs input,
.email-inputs input,
.email-inputs p {
  width: 250px;
  height: 24px;
}

#group-Name-input {
  width: 250px;
  height: 30px;
}

.group-input-container,
.friend-add-container {
  text-align: center;
}

.account-delete {
  text-align: right;
}

.invisible-element {
  width: 52px;
  height: 32px;
  font-size: 12px;
}
.checkbox-share-p {
  margin: 0;
}

.column-inner:hover {
  background-color: #d3d3d3;
}
