.dropdown {
  display: inline-block;
  margin: 3px;
  position: relative;
}

#tg {
  display: none;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: visibility 0s, opacity 0.3s; /* トランジションの遅延を削除 */
  z-index: 1; /* リストを最前面に持ってくる */
}

.dropInput:checked ~ .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; /* 遅延を削除 */
}

.dropLabel,
.item {
  padding: 1em 1.5em;
  width: 150px;
  display: block;
  background-color: #fff;
  text-align: center;
  position: relative;
  color: #333;
  text-decoration: none;
}
.item {
  padding: 0;
}

.item:hover {
  background-color: #3cb371;
  color: #fff;
}

.dropLabel:hover,
.dropInput:checked + label {
  background: #008b8b;
  color: #fff;
}

.animation {
  transition: all 0.3s;
}

/*********************MENUポップアップ*******************/
/* ポップアップが開いた時のオーバレイ */
#popup-overlay_profile,
#popup-overlay_share-history,
#popup-overlay_explanation,
#popup-overlay_inquiry,
#popup-overlay_version,
#popup-overlay_logout,
#popup-overlay_delete,
#popup-overlay_share-user {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ポップアップ */
.popup-window_profile,
.popup-window_share-history,
.popup-window_explanation,
.popup-window_inquiry,
.popup-window_version,
.popup-window_logout,
.popup-window_delete,
.popup-window_share-user {
  width: 500px;
  height: 300px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 10000;
  overflow: hidden;
}
.popup-window_version,
.popup-window_delete {
  height: 150px;
}
.popup-window_logout {
  height: 180px;
  width: 300px;
}
.popup-window_share-user {
  height: 400px;
  width: 300px;
}

/* ポップアップのヘッダー */
.popup-header_profile,
.popup-header_share-history,
.popup-header_explanation,
.popup-header_inquiry,
.popup-header_version,
.popup-header_logout,
.popup-header_delete,
.popup-header_share-user {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せに変更 */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

/* ポップアップの見出し */
.popup-header_profile h2,
.popup-header_share-history h2,
.popup-header_explanation h2,
.popup-header_inquiry h2,
.popup-header_version h2,
.popup-header_logout h2,
.popup-header_delete h2,
.popup-header_share-user h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}

.popup-body_inquiry input {
  text-align: left;
  width: 400px;
  height: 250px;
  padding: 5px;
}

/* ポップアップの内容 */
.popup-body_profile,
.popup-body_share-history,
.popup-body_explanation,
.popup-body_inquiry,
.popup-body_version,
.popup-body_logout,
.popup-body_delete,
.popup-body_share-user {
  padding: 0 10px;
  overflow-y: scroll;
}

#yes-button-logout,
#no-button-logout,
#yes-button-delete,
#no-button-delete,
.popup-body_inquiry button,
#share-user-button,
#share-user-add-button,
#share-user-clear-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#yes-button-logout,
#no-button-logout,
#yes-button-delete,
#no-button-delete,
#share-user-button,
#share-user-add-button,
#share-user-clear-button {
  padding: 7px 14px;
  font-size: 12px;
}

#no-button-logout,
#no-button-delete,
#share-user-clear-button {
  background-color: red;
}

.popup-body_profile a {
  color: red;
}
