@media screen and (max-width: 1000px) {
  .container0 {
    display: flex;
    flex-direction: column;
  }
  .container1 {
    margin-bottom: 20px;
    width: calc(100% - 20px);
  }
  header h1 {
    font-size: 15px;
  }
  .tab-label {
    display: none;
  }
  .tab-content {
    display: block;
    width: 100%;
    padding: 5px;
  }
}

/* @media screen and (max-width: 1000px) {
  .container0 {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    font-size: 15px;
  }
  .container1 {
    margin-bottom: 20px;
    width: calc(100% - 20px);
  }

  .image-container {
    display: none;
  }

  .container2 {
    width: calc(100% - 20px);
    background-color: white;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
  }

  .tab-wrap {
    height: auto;
    min-height: auto;
    display: block;
  }

  .tab-label {
    display: none;
  }

  .tab-content {
    display: block;
    width: 100%;
    padding: 5px;
  }

  .title {
    margin: 0;
  }
  .title p {
    margin-left: 5px;
    margin-right: 0px;
  }
  .form-group {
    margin: 0 5px;
  }
} */
