/*******************************************************************************/
/*********************************popup-overlay*********************************/
/*******************************************************************************/
#popup-overlay_profile,
#popup-overlay_share-history,
#popup-overlay_explanation,
#popup-overlay_inquiry,
#popup-overlay_About-Website,
#popup-overlay_logout,
#popup-overlay_delete,
#popup-overlay_share-user,
#popup-overlay_friend-list,
#popup-overlay_friend-add,
#popup-overlay_friend-add-ans,
#popup-overlay_friend-delete-q,
#popup-overlay_group-add,
#popup-overlay_group-list,
#popup-overlay_group-list-delete,
#popup-overlay_share-delete,
#popup-overlay_nouhau-delete,
#popup-overlay_folder-delete,
#popup-overlay_keep-cancel,
#popup-overlay_result-pop{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}

/*******************************************************************************/
/********************************popup-window***********************************/
/*******************************************************************************/
.popup-window_profile,
.popup-window_share-history,
.popup-window_explanation,
.popup-window_inquiry,
.popup-window_About-Website,
.popup-window_logout,
.popup-window_delete,
.popup-window_share-user,
.popup-window_friend-list,
.popup-window_friend-add,
.popup-window_friend-add-ans,
.popup-window_friend-delete-q,
.popup-window_group-add,
.popup-window_group-list,
.popup-window_group-list-delete,
.popup-window_share-delete,
.popup-window_nouhau-delete,
.popup-window_folder-delete,
.popup-window_delete-pop,
.popup-window_keep-cancel,
.popup-window_result-pop{
  width: 500px;
  height: 300px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  z-index: 500;
}

.popup-window_share-history {
  width: 600px;
  height: 450px;
}

.popup-window_delete,
.popup-window_friend-add,
.popup-window_group-list-delete {
  height: 150px;
}

.popup-window_group-list-delete {
  height: 200px;
}

.popup-window_logout,
.popup-window_friend-add-ans,
.popup-window_friend-delete-q,
.popup-window_share-delete,
.popup-window_nouhau-delete,
.popup-window_folder-delete,
.popup-window_delete-pop,
.popup-window_keep-cancel,
.popup-window_result-pop{
  height: 180px;
  width: 330px;
}

.popup-window_share-user {
  height: 500px;
  width: 400px;
}

.popup-window_friend-list {
  width: 750px;
  height: 400px;
}

/*******************************************************************************/
/********************************popup-header***********************************/
/*******************************************************************************/
.popup-header_profile,
.popup-header_share-history,
.popup-header_explanation,
.popup-header_inquiry,
.popup-header_About-Website,
.popup-header_logout,
.popup-header_delete,
.popup-header_share-user,
.popup-header_friend-list,
.popup-header_friend-add,
.popup-header_friend-add-ans,
.popup-header_friend-delete-q,
.popup-header_group-add,
.popup-header_group-list,
.popup-header_group-list-delete,
.popup-header_share-delete,
.popup-header_nouhau-delete,
.popup-header_folder-delete,
.popup-header_delete-pop,
.popup-header_keep-cancel,
.popup-header_result-pop{
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せに変更 */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

/*******************************************************************************/
/********************************popup-header h2********************************/
/*******************************************************************************/
.popup-header_profile h2,
.popup-header_share-history h2,
.popup-header_explanation h2,
.popup-header_inquiry h2,
.popup-header_About-Website h2,
.popup-header_logout h2,
.popup-header_delete h2,
.popup-header_share-user h2,
.popup-header_friend-list h2,
.popup-header_friend-add h2,
.popup-header_friend-add-ans h2,
.popup-header_friend-delete-q h2,
.popup-header_group-add h2,
.popup-header_group-list h2,
.popup-header_group-list-delete h2,
.popup-header_share-delete h2,
.popup-header_nouhau-delete h2,
.popup-header_folder-delete h2,
.popup-header_delete-pop h2,
.popup-header_keep-cancel h2,
.popup-header_result-pop h2{
  font-size: 16px;
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}

/*******************************************************************************/
/***********************************pop-delete**********************************/
/*******************************************************************************/
#pop-delete_profile,
#pop-delete_share-history,
#pop-delete_explanation,
#pop-delete_inquiry,
#pop-delete_About-Website,
#pop-delete_logout,
#pop-delete_delete,
#pop-delete_share,
#pop-delete_share-user,
#pop-delete_share_no,
#pop-delete_friend-list,
#pop-delete_friend-add,
#pop-delete_friend-delete-q,
#pop-delete_group-add,
#pop-delete_group-list,
#pop-delete_group-list-delete,
#pop-delete_share-delete,
#pop-delete_nouhau-delete,
#pop-delete_folder-delete,
#pop-delete_keep-cancel {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

#pop-delete_profile:hover,
#pop-delete_share-history:hover,
#pop-delete_explanation:hover,
#pop-delete_inquiry:hover,
#pop-delete_About-Website:hover,
#pop-delete_logout:hover,
#pop-delete_delete:hover,
#pop-delete_share:hover,
#pop-delete_share-user:hover,
#pop-delete_share_no:hover,
#pop-delete_friend-list:hover,
#pop-delete_friend-add:hover,
#pop-delete_friend-delete-q:hover,
#pop-delete_group-add:hover,
#pop-delete_group-list:hover,
#pop-delete_group-list-delete:hover,
#pop-delete_share-delete:hover,
#pop-delete_nouhau-delete:hover,
#pop-delete_folder-delete:hover,
#pop-delete_keep-cancel:hover {
  color: red;
}

/*******************************************************************************/
/***********************************popup-body**********************************/
/*******************************************************************************/
.popup-body_profile,
.popup-body_share-history,
.popup-body_explanation,
.popup-body_inquiry,
.popup-body_About-Website,
.popup-body_logout,
.popup-body_delete,
.popup-body_share-user,
.popup-body_friend-list,
.popup-body_friend-add,
.popup-body_friend-add-ans,
.popup-body_friend-delete-q,
.popup-body_group-add,
.popup-body_group-list,
.popup-body_group-list-delete,
.popup-body_share-delete,
.popup-body_nouhau-delete,
.popup-body_folder-delete,
.popup-body_delete-pop,
.popup-body_keep-cancel{
  position: relative;
  height: 240px;
  padding: 0 10px;
  overflow-y: scroll;
}

.popup-body_result-pop{
  position: relative;
  height: 140px;
  padding: 0 10px;
}

.popup-body_friend-list {
  height: 350px;
}

.popup-body_share-history {
  height: 400px;
}

.popup-body_share-user {
  height: 425px;
}

.popup-body_explanation,
.popup-body_result-pop{
  display: flex;
  justify-content: center; /* 要素を水平方向に中央揃え */
  align-items: center; /* 要素を垂直方向に中央揃え */
}

.popup-body_share-history {
  width: 100%;
  overflow-x: auto;
}
/*******************************************************************************/
