@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Sriracha&display=swap');

.window {
  position: relative;
}

.container {
  background-color: aliceblue;
  max-width: 1200px;
  max-height: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  /*以下の設定でcontainerを真ん中上部へ固定*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px;
  /* overflow-y: auto; 縦方向のスクロールバーを表示 */
}

header {
  background-color: rgb(162, 241, 241);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 25px;
  text-align: center;
  padding: 13px;
  margin: 0;
  font-family: 'Open Sans', sans-serifp;
  /* z-index: 10px; */
}

.rightclick {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.list_title {
  margin: 0;
  padding: 0;
}

.file:hover,
.folder:hover {
  border: 2px solid #00ffff;
  border-radius: 10px;
}

.pass {
  text-align: center;
  height: 32px;
}

.hide1 {
  display: none;
}

.treecontrol {
  margin: 5px;
}

.container-list {
  background-color: white;
  width: 1120px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.container0 {
  display: flex;
  height: 960px;
  margin-top: 0;
  padding-top: 0;
}

.container1 {
  width: 250px;
  background-color: white;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.container2 {
  width: 900px;
  background-color: white;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.container2 p {
  font-size: 13px;
  text-align: right;
}

.time {
  width: 20px;
}

.title-txt {
  font-size: 1.2em;
  text-align: center;
}
.title-edit {
  margin: 10px;
  width: 50px;
}
.title-save {
  margin: 0;
  width: 45px;
}

.title {
  margin: 30px 30px 0px 30px;
  justify-content: space-between;
  display: flex;
}

.titie input {
  margin: 20px 0px;
}

.tabname {
  margin: 0;
}

.buttonTab {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 15px;
  width: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 5px;
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
}
.buttonTab:hover {
  color: black;
  font-weight: bold;
  background-color: gray;
  border-radius: 10px;
}
.tabDB {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 18px;
  width: 18px;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 5px;
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
}
.tabDB:hover {
  color: black;
  font-weight: bold;
  background-color: gray;
  border-radius: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 0px 30px;
}

.edit-save-button {
  text-align: center;
}
.edit {
  margin: 20px;
  width: 200px;
  display: inline-block; /*改行が入らず横に並ぶ*/
}
.save {
  margin: 20px;
  width: 200px;
  display: inline-block;
}
.delete {
  margin-right: 20px;
  margin-bottom: 20px;
  float: right;
}

.image-container {
  position: sticky;
  margin-bottom: 20px;
  margin-left: -30px;
}

.updatetime {
  margin-right: 30px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 80%;
  background-color: rgb(174, 171, 180);
}

/****************************右クリックメニュー******************************/

#contextmenu,
#contextmenu2,
#contextmenu3,
#contextmenu4,
#contextmenu5 {
  display: none;
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 6px; /* 余白のサイズを調整してください */
  font-size: 14px;
  z-index: 9999;
}

#contextmenu li,
#contextmenu2 li,
#contextmenu3 li,
#contextmenu4 li,
#contextmenu5 li {
  cursor: pointer;
  list-style: none;
}

#newfolder:hover,
#newfile:hover,
#folderName:hover,
#folderDelete:hover,
#createNete:hover,
#createfolder:hover,
#delete:hover,
#name:hover,
#color:hover,
#newmemo:hover,
#folder:hover,
#MyNoteAdd:hover,
#sharedetails:hover,
#pink:hover,
#red:hover,
#orange:hover,
#yellow:hover,
#yellow-green:hover,
#green:hover,
#sky-blue:hover,
#blue:hover,
#purple:hover,
#brown:hover,
#gray:hover,
#black:hover,
#white:hover {
  background-color: #f0f0f0;
}

/************************ タブ側 ******************************/
.tab-wrap {
  height: 960px;
  min-height: 300px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aliceblue;
}

.tab-label {
  width: 150px;
  color: White;
  background: LightGray;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  border: 1px solid Gray;
  border-radius: 4px 0 0 4px;
  margin: 5px -1px 5px 1px;
  padding: 10px 0.5em;
  order: -1;
  position: relative;
  /* z-index: 1; */
  cursor: pointer;
  float: left;
}
/* 要素の前に疑似要素を挿入し、その要素の左側20%に赤い背景色を適用 */
.tab-label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  /* z-index: -1; */
  background-color: var(--tab-label-background-color);
}

.tab-content {
  display: none;
  background-color: rgb(255, 255, 255);
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* 背景色 */
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    /* 点線1の色 */
      linear-gradient(180deg, rgb(30, 194, 219) 1px, transparent 0.8px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */ 100% 2.5em; /* 点線2のサイズ */
  line-height: 2.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
  padding: 30px;
  box-sizing: border-box;
}

/* アクティブなタブ */
.tab-switch:checked + .tab-label {
  color: Gray;
  background: White;
  border-right-color: White;
}

.tab-switch:checked + .tab-label + .tab-content {
  width: calc(100% - 150px);
  /* - ボタン幅 */
  height: 100%;
  padding: 15px;
  border-left: 1px solid Gray;
  display: block;
}

/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

/************************　ノート側　******************************/
/*タブのスタイル*/
.container1 label:first-of-type {
  margin-right: auto;
}

.container1 label:last-of-type {
  margin-left: auto;
}

.tab_item {
  border-bottom-color: 1px solid Gray;
  background-color: gray;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  white-space: nowrap;
  width: 48%;
  box-sizing: border-box;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name='tab_item'] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#nouhau:checked ~ #nouhau_content,
#share:checked ~ #share_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.container1 input:checked + .tab_item {
  background-color: white;
  color: black;
  border-bottom-color: White;
}

/********************** 背景 ************************/
section {
  min-height: 100vh;
  width: 100%;
  background-color: aliceblue;
  overflow: hidden;
  user-select: none; /*カーソルでドラッグアンドドロップが出来なくなる*/
}

section .row {
  display: flex; /*改行をなくして横並びに*/
  white-space: nowrap; /*折り返しなし*/
  font-size: 64px;
  padding: 10px 0;
  transform: rotate(-30deg); /*画像を傾け*/
  /*傾けた際に上側が若干あくため、埋めている*/
  position: relative;
  top: -50%;
}

i {
  color: rgb(255, 255, 255);
  transition: 1s;
}
/*ホバーした時の処理*/
i:hover {
  color: rgb(162, 241, 241);
  text-shadow: 0 0 120px rgb(162, 241, 241); /*ぼかし120px*/
  transition: 0s;
}

/*アニメーション、、、処理が重くなる原因かも*/
section .row div {
  animation: animate 60s linear infinite;
}

@keyframes animate {
  /* 60sかけて0~100へ移っている */
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.fade-out-font {
  margin: 0;
  padding: 0;
}
