@font-face {
  font-family: 'Zen_Kurenaido';
  src: url('../fonts/Zen_Kurenaido/ZenKurenaido-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Permanent_Marker';
  src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'PTSerifCaption';
  src: url('../fonts/PT_Serif_Caption/PTSerifCaption-Regular.ttf')
    format('truetype');
}

.window {
  position: relative;
  overflow: hidden;
}

.container {
  background-color: aliceblue;
  max-width: 1200px;
  max-height: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  /*以下の設定でcontainerを真ん中上部へ固定*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  padding: 10px;
  /* overflow-y: auto; 縦方向のスクロールバーを表示 */
}

header {
  background-color: rgb(162, 241, 241);
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  border-radius: 5px;
  height: 60px;
  align-items: center;
  /*    //overflow: hidden; */
}

.header-div {
  display: inline-block;
  vertical-align: middle;
}

.header-div img {
  padding: 0;
  margin: 0;
  margin: 10px 0 10px 10px;
  width: 45px;
  height: 45px;
  max-height: 100%;
  align-items: center; /* 要素を垂直方向に中央揃え */
}

header h1 {
  font-size: 28px;
  text-align: center;
  padding: 0;
  margin: 15px 0 0 10px;
  font-family: 'PTSerifCaption', 'Open Sans', sans-serif;
  display: inline;
  align-items: center; /* 要素を垂直方向に中央揃え */
  rgin-top: 0; /* 上部のマージンをリセット */
}

header h2 {
  font-size: 15px;
  margin: 0;
  position: absolute;
  right: 170px;
  bottom: 0;
}
.rightclick {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.list_title {
  margin: 0;
  padding: 0;
}

.file:hover,
.folder:hover {
  border: 2px solid #b2b2b2;
  border-radius: 5px;
}

.file {
  -webkit-text-stroke: 0.5px black; /* テキストの枠の設定 */
}

.hide1 {
  display: none;
}

.container-list {
  background-color: white;
  padding: 0;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.container0 {
  display: flex;
  height: 960px;
  margin-top: 0;
  padding-top: 0;
  position: relative;
}

.container1 {
  width: 250px;
  background-color: white;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.container2 {
  width: 900px;
  background-color: white;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.container2 p {
  font-size: 13px;
  text-align: right;
}

.time {
  width: 20px;
}

.createfolder a,
.createfilebutton a,
.treecontrol a {
  display: inline-block;
  padding: 7px 14px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: 5px 1px;
}

.pass {
  display: inline-block;
  text-align: center;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 150px;
}

.createfolder,
.treecontrol {
  display: inline-block;
}

#createbutton {
  text-decoration: none;
  color: #286400;
  border-radius: 5px;
  font-weight: bold;
  background: linear-gradient(#b1ff7a 0%, #84ff00 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  height: 37px;
}

#createbutton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(3px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#b9ff81 0%, #e2fcc7 100%);
}

#createfilebutton {
  text-decoration: none;
  color: #666800;
  border-radius: 5px;
  font-weight: bold;
  background: linear-gradient(#ffff79 0%, #fffb00 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  height: 37px;
}

#createfilebutton:active {
  -webkit-transform: translateY(2px);
  transform: translateY(3px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fff97e 0%, #faffb4 100%);
}

#createfilebutton {
  background-color: #97f38d;
}
#closed-button {
  text-decoration: none;
  color: #0b0869;
  border-radius: 5px;
  font-weight: bold;
  background: linear-gradient(#61a6f5 0%, #007bff 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  border: 2px solid black;
}
#closed-button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(3px); /*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    #6adaff 0%,
    #a8dbff 100%
  ); /*グラデーションを明るく*/
}

#expandable-button {
  text-decoration: none;
  color: #800000;
  border-radius: 5px;
  font-weight: bold;
  background: linear-gradient(#f56161 0%, #ea1b1b 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  border: 2px solid black;
}
#expandable-button:active {
  -webkit-transform: translateY(2px);
  transform: translateY(3px); /*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    #ff8080 0%,
    #ffaaaa 100%
  ); /*グラデーションを明るく*/
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 80%;
  background-color: rgb(174, 171, 180);
}

.dragging {
  opacity: 0.5; /* ゴースト要素の透明度 */
}

.floating {
  transition: top 0.3s, left 0.3s; /* アニメーションのプロパティと時間を設定 */
}

#color a {
  text-decoration: none;
  color: black;
}

.tab_content_description {
  height: 930px; /* 表示したい高さを指定 */
  max-width: 100%; /* 横スクロールを有効にするために必要な設定 */
  overflow: auto;
  white-space: nowrap; /* 横スクロールを有効にするために必要な設定 */
}

.share-details {
  text-decoration: none;
  color: black;
}

#notab {
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}
