@font-face {
  font-family: 'Zen_Kurenaido';
  src: url('../fonts/Zen_Kurenaido/ZenKurenaido-Regular.ttf') format('truetype');
}

.eidt-text {
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
}

.share-input {
  width: 400px;
  height: auto;
  min-height: 40px;
  resize: vertical;
}

.title-txt {
  margin-right: auto;
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
}
.title input {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  font-size: 25px;
}

.title-edit {
  margin: 10px;
  width: 50px;
}
.title-save {
  margin: 0;
  width: 45px;
}

.title {
  margin: 0px 30px;
  display: flex;
  align-items: center; /* 要素の縦方向の中央揃え */
  justify-content: flex-start;
}

.form-group textarea {
  height: 700px;
}

/************************ タブ側 ******************************/
.tab-wrap {
  height: 960px;
  min-height: 300px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aliceblue;
}

.tab-label {
  width: 150px;
  color: black;
  background: LightGray;
  font-weight: bold;
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
  white-space: nowrap;
  text-align: center;
  border: 1px solid Gray;
  border-radius: 4px 0 0 4px;
  margin: 5px -1px 5px 1px;
  padding: 10px 0.5em;
  order: -1;
  position: relative;
  cursor: pointer;
  float: left;
  z-index: 200;
  display: block;
}

/* 要素の前に疑似要素を挿入し、その要素の左側20%に赤い背景色を適用 */
.tab-label::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  /* z-index: -1; */
  background-color: var(--tab-label-background-color);
}

.tab-content {
  display: none;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* 背景色 */
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    /* 点線1の色 */
      linear-gradient(180deg, rgb(30, 194, 219) 1px, transparent 0.8px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */ 100% 2.5em; /* 点線2のサイズ */
  line-height: 2.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
  padding: 30px;
  box-sizing: border-box;
}

/* アクティブなタブ */
.tab-switch:checked + .tab-label {
  color: black;
  background: White;
  border-right-color: White;
}

.tab-switch:checked + .tab-label + .tab-content {
  width: calc(100% - 150px);
  /* - ボタン幅 */
  height: 100%;
  padding: 15px;
  border-left: 1px solid Gray;
  display: block;
}

/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

.tabname {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* 省略する幅を指定 */
  z-index: 100;
  position: relative;
}

.tabClosebutton {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 20px;
  width: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 1px;
  left: 1px;
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  z-index: 150;
}
.tabClosebutton:hover {
  color: black;
  font-weight: bold;
  background-color: gray;
  border-radius: 10px;
}
.tabDB {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 18px;
  width: 18px;
  align-items: center;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 5px;
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
}
.tabDB:hover {
  color: black;
  font-weight: bold;
  background-color: gray;
  border-radius: 10px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

/* .edit-save-button {
  text-align: center;
} */
.edit {
  margin: 20px;
  width: 200px;
  display: inline-block; /*改行が入らず横に並ぶ*/
}
.save {
  margin: 20px;
  width: 200px;
  display: inline-block;
}
.delete {
  margin-right: 20px;
  margin-bottom: 20px;
  float: right;
}

.image-container {
  position: sticky;
  margin-bottom: 20px;
  margin-left: -30px;
}

.updatetime {
  margin-top: 0px;
  margin-right: 30px;
  font-family: 'Zen_Kurenaido', 'Hannotate SC', sans-serif;
  font-size: 15px;
}
/************************　ノート側　******************************/
/*タブのスタイル*/
.container1 label:first-of-type {
  margin-right: auto;
}

.container1 label:last-of-type {
  margin-left: auto;
}

.tab_item {
  border-bottom-color: 1px solid Gray;
  background-color: gray;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  white-space: nowrap;
  width: 48%;
  box-sizing: border-box;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name='tab_item'] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 0;
  clear: both;
  overflow: hidden;
  position: relative;
}

/*選択されているタブのコンテンツのみを表示*/
#nouhau:checked ~ #nouhau_content,
#share:checked ~ #share_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.container1 input:checked + .tab_item {
  background-color: white;
  color: black;
  border-bottom-color: White;
}

.share-row {
  display: flex;
  align-items: center;
  margin: 8px;
}

.share-row p {
  flex: 3;
  margin-right: 10px;
}

.share-row button {
  flex: 1;
  width: 100px;
  height: 50px;
  padding: 0px;
}

.share-message {
  height: 130px;
  width: 400px;
  vertical-align: bottom;
}
.popup-body_share p {
  margin: 0;
}

#share-user-div,
#share-group-div {
  font-family: Arial, sans-serif;
  /* background-color: #f5f5f5; */
  padding: 3px;
  border-radius: 5px;
  margin: 3px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#share-user-div div,
#share-group-div div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#share-user-div input[type='checkbox'],
#share-group-div input[type='checkbox'] {
  margin-right: 10px;
}

#share-user-div label,
#share-group-div label {
  color: #333;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* 必要な幅に調整してください */
}

.friend-list-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.friend-list-button-wrapper button {
  flex: 1;
  margin: 0 5px;
}

.friend-list-check-div img {
  width: 20px;
  height: 20px;
}

/************************　フレンド一覧　******************************/
/*タブのスタイル*/
.popup-body_share-user label:first-of-type {
  margin-right: auto;
}

.popup-body_share-user label:last-of-type {
  margin-left: auto;
}

.friend-list-label {
  border-bottom-color: 1px solid Gray;
  background-color: gray;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  width: 49%;
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 4px 4px 0 0;
  max-height: 400px; /* タブ切り替えエリアの高さを適宜調整してください */
  overflow-y: auto; /* タブ切り替えエリアがコンテンツより大きい場合にスクロールバーを表示 */
}

.friend-list-label:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name='friend-list-label'] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.friend-list_content {
  display: none;
  padding: 0;
  clear: both;
  overflow: hidden;
  position: relative;
  max-height: 400px; /* タブ切り替えエリアの高さに応じて適宜調整してください */
  overflow-y: auto; /* コンテンツがタブ切り替えエリアより大きい場合にスクロールバーを表示 */
}

/*選択されているタブのコンテンツのみを表示*/
#friend-list-check-id:checked ~ #friend_content,
#group-list-check-id:checked ~ #group_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.popup-body_share-user input:checked + .friend-list-label {
  background-color: white;
  color: black;
  border-bottom-color: White;
}

.friend-list-check-div:hover,
.friend-list-group-check-div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#popup-group-member {
  display: none;
  /*   position: absolute; */
  position: fixed;
  z-index: 999;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 350px;
  max-height: 450px;
  overflow-y: auto;
}

.group-member-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.group-member {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px; /* 必要な幅に調整してください */
}

#popup-group-member p {
  text-align: center;
}
#group-member-groupname {
  font-size: 20px;
  margin-bottom: 0;
}
.element-with-horizontal-line::after {
  content: '';
  display: block;
  border-bottom: 1px solid black; /* 1pxの黒い横線を引く */
  margin: 5px;
  color: gray;
}

.group-member-explain {
  font-size: 14px;
  color: gray;
  margin: 0;
}
