@media screen and (min-width: 1000px) {
  body {
    overflow: hidden;
    font-family: Hannotate SC;
    background-color: #f3eee1;
  }

  input,
  select,
  textarea {
    font-family: Hannotate SC;
  }

  button {
    font-family: Hannotate SC;
    color: white;
  }

  .cssbk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 700px;
  }

  .cssbk input {
    display: none;
  }

  .cssbk input ~ span {
    transition: 1.5s;
    -webkit-backface-visibility: hidden; /*要素が回転した場合に裏面が見えなくなる*/
    backface-visibility: hidden; /*要素が回転した場合に裏面が見えなくなる*/
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid black;
  }

  .cssbk input + span {
    left: 50%;
    /*下記２行で親要素を基準にして、子要素を左端を原点として水平方向に回転させ、遠近感を持たせる効果を持った変形を行う*/
    transform-origin: left;
    transform: perspective(1500px) rotateY(0deg);
  }
  .cssbk input + span + span {
    right: 50%;
    transform-origin: right;
    transform: perspective(1500px) rotateY(180deg);
  }
  .cssbk input:checked + span {
    transform: perspective(1500px) rotateY(-180deg);
  }
  .cssbk input:checked + span + span {
    transform: perspective(1500px) rotateY(0deg);
  }
  .note {
    /* padding: 20px; */
    background-color: #fff;
    box-sizing: border-box;
  }

  .spine {
    background-color: #298af2;
    width: 30px;
    height: 700px;
  }
  .front_cover {
    background-color: #d9eaf0;
    color: #298af2;
    position: relative;
  }
  .front_cover p {
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 50px;
    font-family: HiraMinProN-W6;
  }
  .spine_back {
    background-color: #298af2;
    width: 30px;
    height: 700px;
  }
  .back_cover {
    background-color: #d9eaf0;
    color: #298af2;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .line {
    padding: 0;
    background: #d9eaf0;
    position: absolute;
    border-bottom: 1px solid #333;
    right: 10px;
    content: '';
    display: block;
    width: 300px;
    height: 0;
  }
  .line1 {
    top: 100px;
    font-size: 50px;
    color: black;
  }
  .line2 {
    top: 200px;
  }
  .line3 {
    top: 370px;
  }
  .line4 {
    top: 390px;
  }
  .line5 {
    top: 410px;
  }
  .line6 {
    top: 430px;
  }
  .line7 {
    top: 450px;
  }
  .line8 {
    top: 510px;
  }
  .image {
    background-image: url('../img/barcode.png');
    background-size: 100px 50px;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
  .line9 {
    top: 450px;
    right: 30px;
  }
  .line10 {
    top: 510px;
    right: 30px;
  }
}
